<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Url"      value="https://www.rideup.it/v1/video_list"/>
		<add key="Interval" value="30000"/>
	</appSettings>
</configuration>